<h2 class="text-center text-primary">Your Profile</h2>
<hr>
<div class="row">
    <form [formGroup]="updateForm" *ngIf="updateForm" (ngSubmit)="updateForm.valid && updateMember()" autocomplete="off" class="col-6">
        <app-text-input [formControl]='updateForm.controls["city"]' [label]='"City"'></app-text-input>
        <app-text-input [formControl]='updateForm.controls["country"]' [label]='"Country"'></app-text-input>
        <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="margin_button form-group text-center">
            <button [disabled]='!updateForm.valid' class="btn btn-success mr-2" type="submit">Update</button>
            <button type="button" class="btn btn-danger mr-2" (click)="cancel()">Cancel</button>
        </div>
    </form>
    <div class="col-6 margin_div">
        <label class="btn btn-default"><input type="file" (change)="selectFile($event)"></label>
        <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
        <img class="image_member" src="{{this.image || '../../../../assets/user.png'}}" alt="Image">
    </div>
</div>