<div class="row btn_create" *ngIf="accountService.currentUser$ | async">
    <button *appHasRole='["Admin"]' routerLink='vocabulary/add' class="btn btn-create">Create</button>
</div>
<div class="row">
    <div *ngFor="let vocabulary of vocabularies" class="col-3">
        <vocabulary-card [vocabulary]="vocabulary"></vocabulary-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <ngb-pagination [collectionSize]="pagination.totalItems" [(page)]="pagination.currentPage" [pageSize]="pagination.itemsPerPage" (pageChange)="onPageChange($event)" aria-label="Default pagination"></ngb-pagination>
</div>